<div class="container">
  <div class="row">
    <div class="col content-container">
      <h2>Welcome to the Pinetree Automotive Thinktank!</h2>

      <p>So, yeah, there it is. Being an employee you probably are aware of the dismal first annual sales report. Connecting with experts in the field we concluded that we were not offering the right colors for our intended market.</p>

      <p>So, we give you the most popular colors around for the last three years.</p>

      <p>We have faith we will choose the right colors and like our pattened wood burning engine, set the market <span class="fire">ablaze<img src="assets/global/hot-fire.gif" alt="" height="35"></span>!</p>
      <app-car-color-table></app-car-color-table>
    </div>
  </div>
</div>

